
    <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">
            <p>TradeMark CampIND 2019</p>
        </div>
    </footer>
</body>    
</html>