<% include ../partials/header %>

<div class = "container">
<header class = "jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>Welcome To CampIND</h1>
        <hr>
        <p>View Our Hand-Picked Campgrounds From All Over India</p>
      </div>
      <div class="col-4">
        <p>
          <a class= "index-btn btn btn-primary btn-lg" href="/campgrounds/new">Add Campground</a>
        </p>
      </div>
    </div>
  </div>
</header>

<div class="row text-center" style="display:flex; flex:wrap: wrap">
  
   <% campgrounds.forEach(function(campground){ %>
   
    <div class="col-md-3 col-sm-6">
      <div class="card img-thumbnail">
        <img style="height: 200px" src =" <%= campground.image %> ">
        <div class="caption">
          <h4> <%= campground.name %></h4>
        </div>
        <p>
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
        </p>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>